@import "views.css";
@import "list.css";
@import "filter.css";
:root {
    --background-color: #ffffff;
    --border-color: #e8e8e8;
    --shadow-color: #f3f3f3;
    --text-color: #34495e;
    --active-color: bisque;
    --hover--color: #99ccff;
    --color1: #EC3E27;
    --color2: #fd79a8;
    --color3: #0984e3;
    --color4: #00b894;
    --color5: #fdcb6e;
    --color6: #e056fd;
    --color7: #F97F51;
    --color8: #BDC581;
    --a_border_color: #86a3b3;
    --h2_border_color: #8ea2b8;
    --a_hover_background_color: #86a3b3;
    --font_color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html,body {
	background-color: var(--background-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 2px var(--shadow-color);
    display: flex;
}
#logo{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}
#logo-img{
    width: 36px;
    height: 28px;
}
#path{
    width: 88%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 16px;
}
#help{
    width: 6%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 14px;
}
#article-interface,#person-interface{
    cursor: pointer;
    color: black;
}
#article-interface:hover{
    color: var(--hover--color);
    text-decoration: none;
}
#person-interface:hover{
    color: var(--hover--color);
    text-decoration: none;
}

#update-list{
    cursor: pointer;
}
#update-list:hover{
    cursor: pointer;
    color: var(--hover--color);
}


#content{
    width: 100%;
    height: 94%;
    box-sizing: border-box;
}
#left-list{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    float: left;
}
#user-article-list{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    overflow-y: auto;
}
#list-setting{
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

#right-charts{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

