/* 主视图 */
#right-charts-0{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#month-select{
    position: absolute;
    width:50px;
    left:40%;
    top:30px
}
#word-cloud{
    width: 45%;
    height: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}
#circle-packing{
    width: 45%;
    height: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}

#right-charts-1{
    z-index: 10;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#select_time{
    left: 40%;
    top:30px;
    position: absolute;
    z-index:99
}

#line{
    width: 45%;
    height: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
    padding: 10px;
}
#article-line{
    padding:10px;
    width: 45%;
    height: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}



/* 个人用户 */
#right-charts-2{
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
}

#select_time2{
    position: absolute;
    right: 5%;
    top:30px;
    z-index:99;
}

#user-word-cloud{
    padding: 10px;
    width: 90%;
    height: 45%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}
#user-article-tree{
    padding: 10px;
    width: 90%;
    height: 45%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}

#right-charts-3{
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

#ab-user-line{
    padding: 10px;
    width: 95%;
    height: 95%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px 2px var(--shadow-color);
}

