{% extends "index.html" %}

{% block content %}
    <div id="left-list">
        <div id="user-article-list" class="list-scroll">
{#            <div id="update-list">#}
{#                <i class="fa fa-refresh"></i>#}
{#            </div>#}
            {#  top列表   #}
        </div>
        <div id="list-setting">
            {#  过滤设置面板  #}
            <div id="filter-box">
                <div id="type-filter-box" class="filter-box-child">
                    <div class="filter-box-label">
                        类型
                    </div>
                    <div class="filter-box-content">
                        <div class="type-radio-box">
                            <input type="radio" id="download-type" name="behavior-type" value="download" checked>
                            <label for="download">下载</label>
                        </div>
                        <div class="type-radio-box">
                            <input type="radio" id="browse-type" name="behavior-type" value="retrieve">
                            <label for="browse">浏览</label>
                        </div>
                    </div>
                </div>
{#                <div id="keywords-filter-box" class="filter-box-child">#}
{#                    <div class="filter-box-label" >#}
{#                        关键字#}
{#                    </div>#}
{#                    <div class="filter-box-content" id="keywords-filter-container">#}
{#                        <input type="text" id="keywords-text">#}
{#                    </div>#}
{#                </div>#}
{#                <div id="keywords-box">#}
{##}
{#                </div>#}
            </div>
        </div>
    </div>
    <div id="right-charts-article">
        <div id="right-charts-0">
            <div id="article-line">

            </div>
            <div id="circle-packing">

            </div>
            <select id = "select_view">
                <option value="ratio" selected>比率图</option>
                <option value="circle">气泡图</option>
            </select>

        </div>
        <div id="right-charts-1">
            <div id="line">
            </div>
            <select id = "select_time">
                <option value="day" selected>星期</option>
                <option value="hour">小时</option>
                <option value="month">月份</option>
             </select>
            <div id="word-cloud">

            </div>
            <input id="month-select" type="number" value="1" max="12"  min="1" placeholder="月份"/>
        </div>
    </div>

{% endblock %}


