<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>huiyuandasai</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/filter.css">
    <script src="../static/jslib/jquery.min.js"></script>
    <script src="../static/jslib/bootstrap.min.js"></script>
    <script src="../static/jslib/echarts.js"></script>
    <script src='../static/jslib/echarts-wordcloud.js'></script>
</head>
<body>
    <div id="main">
        <div id="word-cloud" style="position: absolute;top: 0px;left: 60%;width: 40%;height: 40%;"></div>
    </div>

    <div id="main2" style="position: absolute;top: 800px">
        <div id="graph" style="width: 800px;height: 300px"></div>
        <select id="select_time" style="position: absolute;right: 0;top: 0" >
              <option value ="day">天</option>
            <option value ="hour">小时</option>
              <option value="month">月</option>
        </select>
    </div>


    {#  过滤设置面板  #}
    <div id="filter-box">
        <div id="type-filter-box" class="filter-box-child">
            <div class="filter-box-label">
                类型
            </div>
            <div class="filter-box-content">
                <div class="type-radio-box">
                    <input type="radio" id="retrieve-type" name="behavior-type" value="retrieve" checked>
                    <label for="retrieve">检索</label>
                </div>
                <div class="type-radio-box">
                    <input type="radio" id="browse-type" name="behavior-type" value="retrieve">
                    <label for="browse">浏览</label>
                </div>
                <div class="type-radio-box">
                    <input type="radio" id="download-type" name="behavior-type" value="retrieve">
                    <label for="download">下载</label>
                </div>
            </div>
        </div>
        <div id="date-filter-box"  class="filter-box-child">
            <div class="filter-box-label">
                日期
            </div>
            <div class="filter-box-content">
                <input type="date" name="datetime" id="date-filter-start" min="2020-01-01" max="2020-12-31">
                <span>-</span>
                <input type="date" name="datetime" id="date-filter-end" min="2020-01-01" max="2020-12-31">
            </div>
        </div>
        <div id="time-filter-box"  class="filter-box-child">
            <div class="filter-box-label">
                时间
            </div>
            <div class="filter-box-content">
                <span id="time-filter-slider-start">0</span>
                <input type="range" min="0.5" max="1" step="0.05" value="0.8" class="slider" id="time-filter-slider"/>
                <span>24</span>
            </div>
        </div>
        <div id="frequency-filter-box"  class="filter-box-child">
            <div class="filter-box-label">
                频率
            </div>
            <div class="filter-box-content">
                <select name="times-selector" id="times-selector" class="tt-selector">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
                <span>/</span>
                <select name="time-selector" id="time-selector"  class="tt-selector">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
                <div id="times-times-label-box">
                     <label for="time-selector">次/分钟</label>
                </div>
            </div>
        </div>
        <div id="area-filter-box"  class="filter-box-child">
            <div class="filter-box-label">
                领域
            </div>
            <div class="filter-box-content">
                <div class="tag">
                    <div class="tag-content">医疗</div>
                    <div class="tag-del">×</div>
                </div>
            </div>
            <div id="area-box">

            </div>
        </div>
    </div>


    <script src="../static/js/wordCloud.js"></script>
    <script src="../static/js/line.js"></script>

</body>
</html>
