<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huiyuandasai</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/jslib/bootstrap.min.js"></script>
    <script src="../static/jslib/echarts.js"></script>
    <script src='../static/jslib/echarts-wordcloud.js'></script>
    <script src="../static/jslib/axios.min.js"></script>
</head>
<body>
    <div id="main">
        <div id="word-cloud" style="position: absolute;top: 0px;left: 60%;width: 40%;height: 40%;"></div>
    </div>
    <script src="../static/js/wordCloud.js"></script>
</body>
</html>